{% extends "registration/base.html" %}
{% load static %}

{% block title %}Contraseña Restablecida{% endblock title %}

{% block content %}
<div class="mt-4 sm:mx-auto sm:w-full sm:max-w-lg">
    <a href="{% url 'pages:home' %}">
        <img class="mx-auto h-auto w-16" src="{% static 'img/logo.ico' %}" alt="Workflow">
    </a>
    <h1 class="mt-6 text-4xl font-bold tracking-tight text-gray-900" >Contraseña restablecida</h1>
    <p class="mt-2 text-sm text-gray-600" >Su nueva contraseña ha sido configurada.</p>
    <p class="mt-2 text-sm text-gray-600" >Puede iniciar sesión ahora en la página de
    <a class="font-medium text-blue-600 hover:text-blue-500" href="{% url 'login' %}">Iniciar sesión</a>.</p>
</div>
{% endblock content %}