{% extends "registration/base.html" %}
{% load static %}

{% block title %}Olvidaste Tu Contraseña?{% endblock title %}

{% block content %}
<div class="sm:mx-auto sm:w-full sm:max-w-lg">
<a href="{% url 'pages:home' %}">
  <img class="mx-auto h-auto w-16" src="{% static 'img/logo.ico' %}" alt="Workflow">
</a>
<h2 class="mt-6 text-4xl tracking-tight font-bold text-gray-900" >Olvidaste tu contraseña?</h2>
<p class="mt-2 text-sm text-gray-600" >Ingrese su dirección de correo a continuación y enviaremos instrucciones
  para establecer una nueva.</p>
</div>

<div class="mt-4 sm:mx-auto sm:w-full sm:max-w-md">  
  <form class="mt-8 space-y-6" method="POST">{% csrf_token %}

    <div class="mb-3">
      <label for="email" class="block text-sm font-medium text-gray-700"> Correo electrónico* </label>
      <div class="mt-1">
          <input type="email" name="email" id="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
      </div>
    </div>


    <div class="flex items-center justify-between">
      <div class="text-sm">
        <a href="{% url 'login' %}" class="font-medium text-blue-600 hover:text-blue-500"> Volver a inicio </a>
      </div>
    </div>
    <div>
      <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-white text-sm font-medium rounded-md bg-[#11104d] hover:bg-gradient-to-tr hover:from-orange-400 hover:via-red-500 hover:to-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2">
        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
          <!-- Heroicon name: solid/lock-closed -->
          <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
          </svg>
        </span>
        Enviar
      </button>
    </div>
  </form>
</div>

{% endblock content %}


