{% extends "registration/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}





  <div class="sm:mx-auto sm:w-full sm:max-w-lg">
    <a href="{% url 'pages:home' %}">
    <img class="mx-auto h-auto w-40" src="{% static 'img/logo_propiedades_web.png' %}" alt="Workflow">
    </a>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Registrate aqui y publica gratis</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      O
      <a href="{% url 'login' %}" class="font-medium text-indigo-600 hover:text-indigo-500"> inicia sesion </a>
    </p>
  </div>

  <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-2xl">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <form class="space-y-6" action="#" method="POST" novalidate>
      {% csrf_token %}
      <div class="grid grid-cols-6 gap-6">
        {% for field in form.visible_fields %}
          {% if field.auto_id == 'id_terms' %}
          <div class="col-span-6">
            <div class="flex items-start">
              <div class="flex h-5 items-center">
                {{ field }}
                <!-- <input id="candidates" name="candidates" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"> -->
              </div>
              <div class="ml-3 text-sm">
                <label for="{{ field.label }}" class="font-bold text-gray-700 ">{{ field.label }} <a href="/" class="text-blue-800">términos y condiciones de uso.</a></label>
                {% if field.errors %}
                {% for error in field.errors %}
                  <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
                {% endfor %}
              {% endif %}
              </div>
              <!-- <p class="text-gray-500">Get notified when a candidate applies for a job.</p> -->

            <!-- <div class="mb-3">
              {{ field }}
            </div>

            <label for="{{ field.label }}" class="block text-gray-700 text-sm font-bold mb-2">
              {{ field.label }}  {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label> -->

            
          </div>
          </div>
          {% else %}
          <div class="col-span-6 sm:col-span-3">
            <label for="{{ field.label }}" class="block text-gray-700 text-sm font-bold mb-2">
              {{ field.label }}  {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>

            <div class="mb-3">
              {{ field }}
            </div>

            {% if field.errors %}
              {% for error in field.errors %}
                <p class="text-red-500 text-xs font-bold italic">{{ error | escape  }}</p>
              {% endfor %}
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      </div>

      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-white text-sm font-medium rounded-md bg-[#11104d] hover:bg-gradient-to-tr hover:from-orange-400 hover:via-red-500 hover:to-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Continuar
        </button>
      </div>
    </form>
    </div>
  </div>

{% endblock content %}