<div>
	<div style="text-align:center;max-width:400px;margin:0 auto;text-align:center;border:1px solid #efefef;padding:10px">
					<img style="max-height:50px;max-width:200px;vertical-align:middle" src="https://ci3.googleusercontent.com/proxy/nKXh84jAwZfb-8CkXpPFno-4px9dfknvU8iTCgvzHs19m4SQ7iTYcQlk3p_1mD86aOkSNn9tGc9qyf5fhXUsYe0JA6ha2Jdr2XON3sEW65zifdB77Y1XPoL4=s0-d-e1-ft#https://files.healthatom.com/clinicavea9ce9bd1b15f439cb0a7/tmb/logo.jpg" class="CToWUd" data-bit="iit">
				<div style="margin-bottom:15px">
			<h1 style="color:#008aca;margin:5px">
				Vida Estética			</h1>
		</div>

		Estimado/a pedro:<br> 
		Hemos recibido su solicitud de reserva para el día 
		<strong>24/07/2023</strong> con el siguiente detalle:
		<table style="width:100%;margin-top:10px;margin-bottom:10px;border:1px solid #ccc;border-radius:4px;overflow:hidden" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td style="padding:6px 10px;border-bottom:1px solid #ccc">Fecha:</td>
					<td colspan="3" style="padding:6px 10px;border-bottom:1px solid #ccc">24/07/2023</td>
				</tr>
				<tr>
					<td style="padding:6px 10px;border-bottom:1px solid #ccc">Hora:</td>
					<td colspan="3" style="padding:6px 10px;border-bottom:1px solid #ccc">18:00</td>
				</tr>
				<tr>	
					<td style="padding:6px 10px;border-bottom:1px solid #ccc">Prof.</td>
					<td colspan="3" style="padding:6px 10px;border-bottom:1px solid #ccc">Kinesiología CVE</td>
				</tr>
									<tr>	
						<td style="padding:6px 10px">Dirección:</td>
						<td colspan="3" style="padding:6px 10px">Eliodoro Yañez 1759, Providencia, Santiago</td>
					</tr>
							</tbody>
		</table>
		<br>
		<br>
		Le recordamos que previo a la fecha de su cita, recibirá una confirmación adicional. Ante cualquier duda, por favor contactarse al teléfono 56226286200		<div class="yj6qo"></div><div class="adL"><br>
				<br>
	</div></div><div class="adL">
	
</div></div>