<div x-data="{ open: false }" @keydown.window.escape="open = false" class="bg-white">
    <!--
      Mobile filter dialog
  
      Off-canvas menu for mobile, show/hide based on off-canvas menu state.
    -->
    <div x-show="open" class="fixed inset-0 flex z-40 sm:hidden" role="dialog" aria-modal="true">
      <!--
        Off-canvas menu overlay, show/hide based on off-canvas menu state.
  
        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div x-show="open" x-transition:enter="transition-opacity ease-linear duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition-opacity ease-linear duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-description="Off-canvas menu overlay, show/hide based on off-canvas menu state." class="fixed inset-0 bg-black bg-opacity-25" @click="open = false" aria-hidden="true">
      </div>
  
      <!--
        Off-canvas menu, show/hide based on off-canvas menu state.
  
        Entering: "transition ease-in-out duration-300 transform"
          From: "translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "translate-x-full"
      -->
      <div x-show="open" x-transition:enter="transition ease-in-out duration-300 transform" x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transition ease-in-out duration-300 transform" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full" class="ml-auto relative max-w-xs w-full h-full bg-white shadow-xl py-4 pb-6 flex flex-col overflow-y-auto">
        <div class="px-4 flex items-center justify-between">
          <h2 class="text-lg font-medium text-gray-900">Filtros</h2>
          <button type="button" class="-mr-2 w-10 h-10 bg-white p-2 rounded-md flex items-center justify-center text-gray-400 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500" @click="open = false">
            <span class="sr-only">Close menu</span>
            <!-- Heroicon name: outline/x -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
  
        <!-- Filters -->
        <form class="mt-4">  
          <div id="metodo-menu" x-data="{isOpen: false}" class="border-t border-gray-200 px-4 py-6">
            <h3 class="-mx-2 -my-3 flow-root">
              <!-- Expand/collapse question button -->
              <button @click="isOpen = true" type="button" class="px-2 py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400" aria-controls="filter-section-3" aria-expanded="false">
                <span class="font-medium text-gray-900"> Metodo 
                  <span class="quantity hidden ml-1.5 rounded py-0.5 px-1.5 bg-gray-200 text-xs font-semibold text-gray-700 tabular-nums">1</span>
                </span>
                <span class="ml-6 flex items-center">
                  <!--
                    Expand/collapse icon, toggle classes based on question open state.
  
                    Heroicon name: solid/chevron-down
  
                    Open: "-rotate-180", Closed: "rotate-0"
                  -->
                  <svg class="rotate-0 h-5 w-5 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </span>
              </button>
            </h3>
            <div x-cloak x-show="isOpen" @click.away="isOpen = false" class="pt-6" id="filter-section-3">
              <div class="space-y-6">
                <div class="flex items-center">
                  <input id="filter-metodo-0" name="metodo[]" value="TA" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                  <label for="filter-metodo-0" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Tarjeta </label>
                </div>

                <div class="flex items-center">
                  <input id="filter-metodo-1" name="metodo[]" value="EF" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                  <label for="filter-metodo-1" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Efectivo </label>
                </div>

                <div class="flex items-center">
                  <input id="filter-metodo-2" name="metodo[]" value="FO" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                  <label for="filter-metodo-2" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Fonasa </label>
                </div>

                <div class="flex items-center">
                  <input id="filter-metodo-3" name="metodo[]" value="IS" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                  <label for="filter-metodo-3" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Isapre </label>
                </div>

                <div class="flex items-center">
                  <input id="filter-metodo-4" name="metodo[]" value="CO" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                  <label for="filter-metodo-4" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Convenio </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  
    <div class="max-w-3xl mx-auto px-4 text-center sm:px-6 lg:max-w-full lg:px-8">
      <!-- <div class="py-24">
        <h1 class="text-4xl font-extrabold tracking-tight text-gray-900">New Arrivals</h1>
        <p class="mt-4 max-w-3xl mx-auto text-base text-gray-500">Thoughtfully designed objects for the workspace, home, and travel.</p>
      </div> -->
  
      <section aria-labelledby="filter-heading" class="border-t border-gray-200 py-6">
        <h2 id="filter-heading" class="sr-only">Product filters</h2>
  
        <div class="flex items-center justify-between space-x-6">
          <!-- Reset -->
          <button id="btn-reset" type="button" class="p-2 flex justify-center items-center  bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
          </button>
        
          <!-- Orden -->
          <div id="orden-menu" x-data="{isOpen: false}" class="relative z-10 inline-block text-left">
            <div>
              <button @click="isOpen = true" type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" id="mobile-menu-button" aria-expanded="false" aria-haspopup="true">
                Ordenar
                <!-- Heroicon name: solid/chevron-down -->
                <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
  
            <!--
              Dropdown menu, show/hide based on menu state.
  
              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            <div x-cloak x-show="isOpen" @click.away="isOpen = false" class="origin-top-left absolute left-0 z-10 mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
              <div class="py-1" role="none">
                <fieldset class="flex flex-col gap-1 p-1">
                    <legend class="sr-only">Orden</legend>     
                    <div>
                      <input
                        type="radio"
                        name="orden"
                        value="asc"
                        id="asc"
                        class="peer hidden"
                        checked
                      />
                  
                      <label
                        for="asc"
                        class="flex cursor-pointer items-center justify-center gap-x-2 rounded-md border border-gray-100 bg-white px-3 py-2 text-gray-900 hover:border-gray-200 peer-checked:border-blue-500 peer-checked:bg-blue-500 peer-checked:text-white"
                      >                 
                        <p class="text-sm font-medium">A-Z</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M3 7.5L7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5" />
                        </svg>     
                      </label>
                    </div>
                  
                    <div>
                      <input
                        type="radio"
                        name="orden"
                        value="desc"
                        id="desc"
                        class="peer hidden"
                      />
                  
                      <label
                        for="desc"
                        class="flex cursor-pointer items-center justify-center gap-x-2 rounded-md border border-gray-100 bg-white px-3 py-2 text-gray-900 hover:border-gray-200 peer-checked:border-blue-500 peer-checked:bg-blue-500 peer-checked:text-white"
                      >
                        <p class="text-sm font-medium">Z-A</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M3 7.5L7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5" />
                        </svg>  
                      </label>
                    </div>
                </fieldset>
                <!-- Active: "bg-gray-100", Not Active: "" -->
                <!-- <button class="block px-4 py-2 text-sm font-medium text-gray-900" role="menuitem" tabindex="-1" id="mobile-menu-item-0"> Az </button>
  
                <button class="block px-4 py-2 text-sm font-medium text-gray-900" role="menuitem" tabindex="-1" id="mobile-menu-item-1"> Best Rating </button> -->
  
              </div>
            </div>
          </div>
          
          <!-- Search -->
          <div class="relative flex-1">
            <label for="search-cita" class="sr-only"> Buscar </label>
        
            <input
            type="text"
            id="search-pago"
            placeholder="Busqueda por..."
            class="w-full rounded-md border-gray-200 px-4 py-2 shadow-sm sm:text-sm"
            />
        
            <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
            <button disabled type="button" class="text-gray-600 hover:text-gray-700">
                <span class="sr-only">Search</span>
        
                <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-4 w-4"
                >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
                </svg>
            </button>
            </span>
          </div>

          <!-- Fecha -->
          <div id="fecha-menu" class="relative z-10 inline-block text-left">
            <input type="text" class="w-40 lg:w-full rounded-md border-gray-200 px-4 py-2 shadow-sm sm:text-sm" placeholder="Seleccionar Fecha..." readonly="readonly">
          </div>

          <!-- Mobile filter dialog toggle, controls the 'mobileFilterDialogOpen' state. -->
          <button type="button" class="inline-block text-sm font-medium text-gray-700 hover:text-gray-900 sm:hidden" @click="open = true">Filtros</button>
  
          <div class="hidden sm:flex sm:items-baseline sm:space-x-8">
            <!-- Metodo -->
            <div id="metodo-menu" x-data="{isOpen: false}" class="relative z-10 inline-block text-left">
              <div>
                <button @click="isOpen = true" type="button" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false">
                  <span>Metodo</span>

                  <span class="quantity hidden ml-1.5 rounded py-0.5 px-1.5 bg-gray-200 text-xs font-semibold text-gray-700 tabular-nums">1</span>
                  <!-- Heroicon name: solid/chevron-down -->
                  <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
  
              <!--
                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
              <div x-cloak x-show="isOpen" @click.away="isOpen = false" class="origin-top-right absolute visible right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5 focus:outline-none">
                <form class="space-y-4" method="post" >
                  <div class="flex items-center">
                    <input id="filter-metodo-0" name="metodo[]" value="TA" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-metodo-0" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Tarjeta </label>
                  </div>
  
                  <div class="flex items-center">
                    <input id="filter-metodo-1" name="metodo[]" value="EF" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-metodo-1" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Efectivo </label>
                  </div>
  
                  <div class="flex items-center">
                    <input id="filter-metodo-2" name="metodo[]" value="FO" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-metodo-2" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Fonasa </label>
                  </div>
  
                  <div class="flex items-center">
                    <input id="filter-metodo-3" name="metodo[]" value="IS" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-metodo-3" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Isapre </label>
                  </div>
  
                  <div class="flex items-center">
                    <input id="filter-metodo-4" name="metodo[]" value="CO" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-metodo-4" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Convenio </label>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
  