<div x-show="modalMotivo.isOpen" 
    x-cloak
    x-transition:enter="transition duration-300 ease-out"
    x-transition:enter-start="translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95"
    x-transition:enter-end="translate-y-0 opacity-100 sm:scale-100"
    x-transition:leave="transition duration-150 ease-in"
    x-transition:leave-start="translate-y-0 opacity-100 sm:scale-100"
    x-transition:leave-end="translate-y-4 opacity-0 sm:translate-y-0 sm:scale-95"
    class="fixed inset-0 z-10 overflow-y-auto" 
    aria-labelledby="modal-title" role="dialog" aria-modal="true"
>
    <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
        <span class="hidden sm:inline-block sm:h-screen sm:align-middle" aria-hidden="true">&#8203;</span>

            <div @click.away="modalMotivo.closeModal()"  class="relative inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl sm:my-8 sm:w-full sm:max-w-sm sm:p-6 sm:align-middle">      
                <div class="space-y-8 mb-10">
                    <div class="relative mt-6">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-700"></div>
                    </div>
                    <div class="relative flex justify-center text-xl leading-5 font-extrabold">
                        <span class="px-2 text-gray-900 bg-white">
                            Motivo de Atención
                        </span>
                    </div>
                    </div>
                </div>
                <div id="motivo-cita" class="flow-root rounded-lg py-3 shadow-sm h-72 overflow-y-auto">
                    <p class="text-gray-700 sm:col-span-2">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et facilis
                        debitis explicabo doloremque impedit nesciunt dolorem facere, dolor
                        quasi veritatis quia fugit aperiam aspernatur neque molestiae labore
                        aliquam soluta architecto?
                    </p>
                </div>
            </div>
    </div>
</div>

